*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	min-height: 100vh;
	background: aliceblue;
	font-size: 18px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	transition: 300ms;
}
section{
	margin: 0 auto;
	width: 50%;
}

section .selectbox_wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 100px;
	min-height: 391px;
}

section .selectbox_wrapper label{
}
section .selectbox_wrapper #category_wrapper,
section .selectbox_wrapper #child_category_wrapper,
section .selectbox_wrapper #gson_category_wrapper{
	margin-bottom: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
section .selectbox_wrapper select{
	font-size: 1em;
	width: 100%;
	height: 50px;
	outline: none;
}


footer{
	position: fixed;
	bottom: 0;
	min-width: 100vw;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
}

footer .submit_button{
	width: 50%;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: linear-gradient(30deg, lightseagreen, #9c27b0);
    opacity: 0.8;
    outline: none;
    margin: 25px 0;
    transition: 200ms;
}
footer .submit_button:hover{
	opacity: 1;
	cursor: pointer;
}


 /* === ボタンを表示するエリア ============================== */
.switchArea {
  position: relative;            /* 親要素が基点       */
  margin: auto;
  padding-top: 50px;                /* 中央寄せ           */
  width: 76px;               /* ボタンの横幅       */
}

 /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display: none;            /* チェックボックス非表示 */
}

 /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display: block;               /* ボックス要素に変更 */
  box-sizing: border-box;          /* 枠線を含んだサイズ */
  height: 38px;                /* ボタンの高さ       */
  border: 2px solid #999999;   /* 未選択タブのの枠線 */
  border-radius: 19px;
  cursor: pointer;                /* 角丸               */
}

 /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
  border-color: #bcb4ed;             /* 選択タブの枠線     */
}

 /* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position: absolute;            /* 親要素からの相対位置*/
  width: 30px;                /* 丸の横幅           */
  height: 30px;                /* 丸の高さ           */
  background: #999999;             /* カーソルタブの背景 */
  top: 54px;                 /* 親要素からの位置   */
  left: 4px;                 /* 親要素からの位置   */
  border-radius: 15px;                /* 角丸               */
  transition: 300ms ease-in-out;                 /* 滑らか変化         */
}

 /* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
  transform: translateX(38px);    /* 丸も右へ移動       */
  background: #bcb4ed;             /* カーソルタブの背景 */
}

.is_error{
	border: solid 2px crimson;
	box-shadow: inset 0 0 10px crimson;
}
.error_message{
	text-align: center;
	color: #ed1499;
}

.is_none{
	display: none;
}

body.night_mode{
	background: #3d445f;
	transition: 300ms;
	color: #bcb4ed;
}

@media screen and (max-width: 1024px) {
    section{
		margin: 0 auto;
		min-width: 90vw;
	}
}